<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head >
		<meta charset="UTF-8">
		<title>Canvas </title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" href="css/Style.css">
	</head>

	<body ng-controller="Controlador" >
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js" type="text/javascript"></script>
		<script src="js/Script.js" type="text/javascript"></script>

		<div class="w-20 marco" id="soc-clave">
			<header>
				<h4 class="titulo">SOCIOS CLAVE <button value="" ng-click="show_socclave()">? </button></h4>
				<hr>
				<input type="text" >
				<button value="">+</button>
				<hr>
			</header>
			<content id="lst-soc-clave">

			</content>
			
		</div>
		


		<div class="w-20" id="act-clave">
			<header>
				<h4 class="titulo">ACTIVIDADES CLAVE<button value="" ng-click="show_socclave()">? </button></h4>
				<hr>
				<input type="text" >
				<button value="">+</button>
				<hr>
			</header>
			<content id="lst-soc-clave">

			</content>
		</div>

		<div class="w-20" id="rec-clave">
			<header>
				<h4 class="titulo">RECURSOS CLAVE <button value="" ng-click="show_socclave()">? </button></h4>
				<hr>
				<input type="text" >
				<button value="">+</button>
				<hr>
			</header>
			<content id="lst-soc-clave">

			</content>
		</div>
		<div class="w-20" id="pro-valor">

		</div>
		<div class="w-20" id="rel-cliente">

		</div>
		<div class="w-20" id="canal">

		</div>
		<div class="w-20" id="seg-cliente">

		</div>
		<div id="est-coste">

		</div>
		<div id="fue-ingreso">

		</div>

		
	</body>
</html>